@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: " Poppins ", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #f8f9fa;
  font-size: 16px;
}

.main-container {
  height: 100%;
  background-color: #f8f9fa;
}

input,
button {
  border: none;
  outline: none;
}

i { cursor: pointer; }

.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#tasks {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.task-list {
  flex-direction: column;
  border: 2px solid #fff;
  width: 70%;
  box-shadow: 3px 3px 7px #73767a;
  margin-top: 40px;
  border-radius: 5px;
}

.task-list .container {
  flex-direction: row;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #c1c4c9;
  justify-content: space-between;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.task-list-container {
  width: 100%;
}

.task-list #add-task {
  width: 100%;
  justify-content: space-between;
}

.task-list #add-task button {
  padding: 8px 5px;
  background-color: transparent;
}

.task-list-container .task i {
  font-size: 20px;
  color: #0f0f0f;
}

.task-list .container:first-child i {
  font-size: 1rem;
  cursor: pointer;
}

.task-list #add-task button i {
  font-size: 20px;
  color: #2e2b2b;
  transform: rotate(90deg);
}

.task-list #add-task button i:hover { color: #878a8f; }

.task-list #add-task input {
  flex: 1;
  font-family: " Roboto ", sans-serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
}

.task-list-container .task {
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0.9rem;
  cursor: move;
}

.task-list-container .task .left { width: 90%; }

.task-list-container .task .left form {
  width: 100%;
  display: flex;
}

.task-list-container .task .left .edit-task {
  padding-left: 0.7rem;
  font-size: 1rem;
  color: #201f1f;
  flex: 1;
  margin-left: 0.5rem;
}

.title {
  color: #5c5050;
  font-size: 1.3rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  color: #584f4f;
  background-color: #f8f9fa;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn:hover {
  background-color: #999494;
  color: #f8f9fa;
}

.disabled {
  font-size: 0.6rem;
  font-style: italic;
  text-decoration: line-through;
}

.dragging { border: 2px solid #383c41; }

.focus { background-color: #faf3db; }

.task-list-container .task .right .far { display: none; }

.task-list-container .task.focus .right .far { display: block; }

.task-list-container .task.focus .right .fas { display: none; }

@media screen and (max-width: 500px) {
  .task-list { width: 95%; }

  .task-list .container { padding-right: 0; }

  .task-list-container .task { padding: 0.8rem 0.5rem; }

  .task-list-container .task .left .edit-task { padding-left: 3px; }

  .fa-sync-alt { padding-right: 10px; }
}
